.song-card {
    width:150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .song-image{
        width:130px;
        height:130px;
    }
    .song-title{
        font-size: 12px;
    }
  }