<ion-tabs>
  <div class="fixed-controls">
    <ion-grid fixed>
      <ion-row>
        <ion-col  class="control-button" (click)="play()">
          Play
        </ion-col>
        <ion-col  class="control-button" (click)="pause()">
          Pause
        </ion-col>
        <ion-col class="control-button">
          Stop
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home/home">
      <ion-icon aria-hidden="true"  name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="like" href="/home/like">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="playlist" href="/home/playlist">
      <ion-icon aria-hidden="true" name="play"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>