
  <ion-row class="categories">
    <ion-row class="genre-title">
      <ion-col>Music Genres</ion-col>
      <ion-col class="see-all">
        <a href="javascript:void(0);" (click)="toggleShowAllGenres()">
          {{ showAllGenres ? 'Show less' : 'See all' }}
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="genre-buttons">
      <ion-button
        shape="round"
        class="genre-button"
        fill="outline"
        [class.selected]="selectedGenre === 'All'"
        (click)="selectGenre('All')"
      >
        All
      </ion-button>
      <ng-container *ngIf="!showAllGenres">
        <ion-button
          *ngFor="let genre of genres.slice(0, 3)"
          shape="round"
          class="genre-button"
          fill="outline"
          [class.selected]="selectedGenre === genre"
          (click)="selectGenre(genre)"
        >
          {{ genre }}
        </ion-button>
      </ng-container>
      <ng-container *ngIf="showAllGenres">
        <ion-button
          *ngFor="let genre of genres"
          shape="round"
          class="genre-button"
          fill="outline"
          [class.selected]="selectedGenre === genre"
          (click)="selectGenre(genre)"
        >
          {{ genre }}
        </ion-button>
      </ng-container>
    </ion-row>
  </ion-row>

