<ion-content  [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar class="title-header">
      <ion-title class="font_large">Favorite</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="list_header">
      <p class="list_header_title">Artists</p>
      <a class="link">See all</a>
    </ion-row>

    <ion-row class="list_header">
      <p class="list_header_title">Albums</p>
      <a class="link">See all</a>
    </ion-row>

    <ion-row class="list_header">
      <p class="list_header_title">Songs</p>
      <a class="link">See all</a>
    </ion-row>
  </ion-grid>
</ion-content>