.Header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    padding: 0 10% 0 10%;
    flex-direction: row;
}

.Header-title {
    font-size: 20px;
    font-weight: bold;
}