<ion-row>
  <ion-col size="auto">
    <img class="playlist-image" [src]="Playlist.cover" alt="Playlist Image">
  </ion-col>
  <ion-col class="playlist-details">
    <ion-row class="playlist-title">{{ Playlist.title }}</ion-row >
    <ion-row  class="playlist-follower">{{ Playlist.followed }}</ion-row >
    <ion-row  class="playlist-count">{{ Playlist.song.length }}</ion-row >
  </ion-col>
  <ion-col size="auto" class="playlist-options">
    <a href=""><ion-icon name="options"></ion-icon></a>
    <a href=""><ion-icon name="heart"></ion-icon></a>
    <a href=""><ion-icon name="share"></ion-icon></a>
  </ion-col>
</ion-row>