<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <img src="assets/icon/Arrow-back.png" alt="Back arrow" class="Arrowback">
      </ion-buttons>
      <ion-title size="large" class="center">this is elon musk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="songplayer" class="center SongImageconteiner">
    <img class="SongImage" src="assets/music/thisIsElonMusk.png">
  </div>
  <div id="info" class="pad-10">
    <h1 style="font-weight: bold;">Elon Musk</h1>
    <p>this is elon musk</p>
    <ion-icon name="heart-outline" class="icon"></ion-icon>
    <ion-icon name="heart-dislike-outline" class="icon"></ion-icon>
  </div>
  <div>
    <app-song-player-bar></app-song-player-bar>
  </div>
</ion-content>