<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <img src="assets/icon/Arrow-back.png" alt="Back arrow" class="Arrowback">
      </ion-buttons>
      <ion-title size="large" class="center">this is elon musk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="songplayer" class="center SongImageconteiner">
    <img class="SongImage" src="assets/music/thisIsElonMusk.png">
  </div>
  <div id="">
    <div id="info" class="pad-10">
      <h1 style="font-weight: bold;">Elon Musk</h1>
      <p>this is elon musk</p>
    </div>
  </div>
</ion-content>