.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-input {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.search-input {
  width: 70%;
  //border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
  text-align: center;
}
.top {
    padding: 0px 20px 0px 20px;
    height: auto;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    width: 100vw; 
  
    ion-col {
      font-size: 20px;
      display: flex;
      flex-direction: column;
    }
  
    .see-all {
      text-align: right;
  
      a {
        color: #15ab90;
        text-decoration: none;
      }
    }
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    .card {
      display: inline-block;
      margin: 10px;
      width: 50px;
    }
  }
.new-album{
  width: 100%;
}
.categories{
  padding: 0px 20px 0px 20px;
  width: 100vw; 
}
