
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onSettingModal()">
      <ion-avatar>
        <img src="assets/music/thisIsElonMusk.png" alt="Avatar">
      </ion-avatar>
    </ion-buttons>
    <ion-input *ngIf="showSearchInput"  class="search-input" type="text" placeholder="Search..."></ion-input>
    <ion-buttons slot="end"> 
      <ion-button  (click)="toggleSearchInput($event)">
        <ion-icon slot="icon-only" name="search" ></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <div *ngFor="let song of songs$ | async">
    <div>{{song.title}}</div>
  </div> -->
 <ion-grid class="home-page">x  
  <ion-row class="">
    <app-new-album></app-new-album>
  </ion-row>
  <ion-row class="categories">
    <app-music-genres></app-music-genres>
  </ion-row>
  <ion-row class="top">
    <ion-col>Top Songs</ion-col>
    <ion-col class="see-all">
      <a href="javascript:void(0);" (click)="onSongListModal()">See all</a>
    </ion-col>
  </ion-row>
  </ion-grid> 
  <div class="scrolling-wrapper">
    <app-top-song></app-top-song>
  </div>
  <ion-row class="top">
    <ion-col>Last Played</ion-col>
    <ion-col class="see-all">
      <a href="javascript:void(0);" (click)="onSongListModal()">See all</a>
    </ion-col>
  </ion-row>
  <div class="">
    <app-list-song></app-list-song>
  </div>
  <ion-row class="top">
    <ion-col>Artist</ion-col>
    <ion-col class="see-all">
      <a  href="javascript:void(0);" (click)="onListArtistPage()">See all</a>
    </ion-col>
  </ion-row>
  <div class="">
    <app-list-artist></app-list-artist>
  </div>
</ion-content>