.playlist-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;    //border-bottom: 1px solid #ccc; /* Add a border between items */
    justify-content: space-between; /* Space between items */
  }
  
  .playlist-number {
    flex: 0 0 auto;
  }
  
  .playlist-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .playlist-details {
    flex: 1;
    padding-left: 10px;
  }
  
  .playlist-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .playlist-artist {
    color: #666;
  }
  
  .playlist-duration {
    text-align: right;
    flex: 0 0 50px;
  }
  
  .playlist-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 30px;
  }
  
  ion-icon {
    font-size: 24px;
    cursor: pointer;
    color: #15AB90; /* Adjust the icon color */
  }
  